.advantages {
	background-color: var(--main-background);
	color: var(--main-color);
}

.advantages__wrapper {
	box-sizing: border-box;
	min-width: 320px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (--not-mobile) {
		// padding: 0 30px;
	}

	@media (--desktop-only) {
		box-sizing: content-box;
		// max-width: 1220px;
		// padding: 0 110px;
	}
}

.advantages__present {
	margin-bottom: 20px;

	@media (--not-mobile) {
		margin-bottom: -10px;
	}

	@media (--desktop-only) {
		margin-bottom: -156px;
	}
}

.advantages__card-wrapper {
	@media (--desktop-only) {
		padding-left: 18px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 80px;
	}
}

.advantages__card {
	margin-bottom: 20px;

	@media (--not-mobile) {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (--not-mobile) {
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

.advantages__button {
	margin: 0 auto;

	@media (--not-mobile) {
		width: 244px;
		position: absolute;
		left: 90px;
		top: 30.2%;
	}

	@media (--desktop-only) {
		left: 88px;
		top: 39.2%;
	}
}
