.advantages {
	background-color: #ffffff;
	color: #000000;
}

.advantages__wrapper {
	box-sizing: border-box;
	width: 320px;
	margin: 0 auto;
	padding: 27px 20px;
}

.advantages__title {
	z-index: 1;
}

.advantages__slogan {
	z-index: 1;
}

.advantages__images__wrapper--mobile {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: 50%;
		width: 320px;
		height: 302px;
		background-image: url("../../../img/advantages-index-logo@1x.png");
		background-size: contain;
		background-repeat: no-repeat;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 50%;
		left: 0;
		width: 320px;
		height: 302px;
		background-image: url("../../../img/advantages-index-background@1x.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.advantages__images {
	z-index: 1;
}
