.example {
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 32px;

	@media (--not-mobile) {
		display: flex;
	}

	@media (--desktop-only) {
		display: grid;
	}
}

.example__wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.example__wrap--result {
	grid-column: 1 / -1;
	display: flex;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: var(--main-color);

	@media (--not-mobile) {
		margin-left: auto;
	}

	@media (--desktop-only) {
		margin: 0;
	}
}

.example__description {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: var(--base-color);
}

.example__quantity {
	margin: 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: var(--main-color);
}

.example__description--view {
	display: contents;
	font: inherit;
}

.example__quantity--view {
	display: contents;
	font: inherit;
}
