.range {
	display: flex;
	justify-content: center;
}

.range__range-bar {
	width: 4px;
	height: 110%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -46%);

	background-color: #666666;
	border-radius: 2px;

	@media (--not-mobile) {
		height: 111%;
		top: 20%;
		transform: translate(-50%, -47%);
	}

	@media (--desktop-only) {
		height: 109.5%;
		top: 23%;
		left: 46%;
		transform: translate(-80%, -46%);
	}
}

.range__range-toggle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	// &::before {
	// 	content: "";
	// 	width: 4px;
	// 	height: 100%;
	// 	background-color: #666666;
	// 	border-radius: 2px;
	// 	z-index: 2;
	// }
}
