.service {
	background-color: #ffffff;
	color: var(--main-color);
}

.service__wrapper {
	// box-sizing: border-box;
	// min-width: 320px;
	// padding: 0 20px 49px;

	@media (--not-mobile) {
		// padding: 0 30px 49px;
	}

	@media (--desktop-only) {
		// box-sizing: content-box;
		// max-width: 1220px;
		// padding: 0 110px 49px;
		// display: grid;
		// grid-template-columns: 440px 560px;
		// column-gap: 224px;
		// grid-template-rows: repeat(3, auto);
		// row-gap: 70px;
	}
}

.service__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: var(--main-color);
}

.service__list {
	margin: 0;
	padding: 0;
	list-style-type: none;


	@media (--not-mobile) {
		display: grid;
		grid-template-columns: repeat(auto-fit, 250px);
		row-gap: 37px;
		column-gap: 137px;
	}

	@media (--desktop-only) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.service__item {
	margin-bottom: 20px;
	padding-left: 100px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--base-color);

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (--not-mobile) {
		padding: 111px 0 0;
	}

	@media (--desktop-only) {
		max-width: 250px;
	}
}
