.service {
	background-color: var(--main-background);
	color: var(--main-color);

	@media (--not-mobile) {
		border-bottom: 1px solid var(--border-nav);
	}
}

.service__wrapper {
	// box-sizing: border-box;
	// min-width: 320px;
	padding: 0 0 49px;

	@media (--not-mobile) {
		padding-top: 46px;
	}

	@media (--desktop-only) {
		// box-sizing: content-box;
		// max-width: 1220px;
		// padding: 0 110px 49px;
		// display: grid;
		// grid-template-columns: 440px 560px;
		// column-gap: 224px;
		// grid-template-rows: repeat(3, auto);
		// row-gap: 70px;
	}
}

.service__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.11;
	color: var(--main-color);

	@media (--not-mobile) {
		margin-bottom: 32px;
		font-size: 60px;
		line-height: 1;
	}
}

.service__list {
	margin: 0;
	padding: 0;
	list-style-type: none;


	@media (--not-mobile) {
		display: grid;
		grid-template-columns: repeat(auto-fit, 250px);
		row-gap: 37px;
		column-gap: 137px;
		counter-reset: section;
	}

	@media (--desktop-only) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.service__item {
	margin-bottom: 20px;
	min-height: 60px;
	padding-left: 80px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (--not-mobile) {
		padding: 151px 0 36px;
		font-size: 16px;
		line-height: 1.5;
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 40px;
			left: 0;
			width: 80px;
			height: 80px;
			border: dashed 1px #000000;
		}

		&::after {
			counter-increment: section;
			content: counter(section) "";
			position: absolute;
			top: 0;
			left: 117px;
			font-family: var(--accent-font);
			font-style: normal;
			font-weight: 400;
			font-size: 280px;
			line-height: 1;
			text-align: center;
			color: #f2f2f2;
			z-index: -1;
		}
	}

	@media (--desktop-only) {
		max-width: 250px;
	}
}
