.statistics {
	padding-bottom: 40px;
	background-color: var(--statistics-background);
	color: var(--main-color);

	@media (--not-mobile) {
		background-color: var(--main-background);
	}
}

.statistics__wrapper {
	// box-sizing: border-box;
	// min-width: 320px;
	// margin: 0 auto;
	padding: 25px 0 20px;

	@media (--not-mobile) {
		padding: 43px 0 251px;
	}

	@media (--desktop-only) {
		// box-sizing: content-box;
		// max-width: 1220px;
		// padding: 66px 110px 40px;
		display: grid;
		grid-template-columns: 440px 560px;
		column-gap: 224px;
		grid-template-rows: repeat(3, auto);
		row-gap: 70px;
	}
}

.statistics__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.11;
	text-align: left;
	color: var(--main-color);

	@media (--not-mobile) {
		margin: 0 0 63px;
		font-size: 60px;
		line-height: 1;
	}
}

.statistics__description {
	margin: 0 0 20px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);

	@media (--not-mobile) {
		margin: 0 0 54px;
		font-size: 16px;
		line-height: 1.5;
	}
}

.statistics__example {
	margin: 0;

	// @media (--not-mobile) {
	// 	margin: 0 0 251px;
	// }
}

.statistics__images-wrapper {
	position: relative;

	@media (--not-mobile) {
		background-color: var(--statistics-background);
	}

	@media (--desktop-only) {
		grid-row: 1 / -1;
		grid-column: -1 / -2;
		align-self: center;
	}
}

.statistics__images {
	margin: 0 auto;
	display: block;

	@media (--not-mobile) {
		margin-bottom: -50px;

		width: 560px;
		height: 512px;
		position: relative;
		top: -151px;
	}
}

// .statistics__range {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// }
