.statistics {
	padding-bottom: 63px;
	background-color: var(--statistics-background);
	color: var(--main-color);

	@media (--not-mobile) {
		padding-bottom: 0;
		background-color: var(--main-background);
	}

	@media (--desktop-only) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 203px auto;
	}
}

.statistics__wrapper {
	padding: 25px 0 20px;

	@media (--not-mobile) {
		padding: 43px 0 251px;
	}

	@media (--desktop-only) {
		width: auto;
		margin: 0;
		grid-row: 1 / -1;
		padding: 0 0 75px;
		background-color: var(--footer-background);
		// box-sizing: content-box;
		// max-width: 1220px;
		// padding: 66px 110px 40px;
		// display: grid;
		// grid-template-columns: 440px 560px;
		// column-gap: 224px;
		// grid-template-rows: repeat(3, auto);
		// row-gap: 70px;
	}
}

.statistics__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.11;
	text-align: left;
	color: var(--main-color);

	@media (--not-mobile) {
		margin: 0 0 64px;
		font-size: 60px;
		line-height: 1;
	}

	@media (--desktop-only) {
		margin-bottom: 70px;
		padding: 72px 0 77px 110px;
		font-size: 60px;
		line-height: 1;
		background-color: var(--main-background);
	}
}

.statistics__description {
	margin: 0 0 20px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);

	@media (--not-mobile) {
		margin: 0 0 54px;
		font-size: 16px;
		line-height: 1.5;

		& span {
			white-space: nowrap;
		}
	}

	@media (--desktop-only) {
		margin: 0;
		max-width: 437px;
		padding: 0 0 70px 110px;
		// font-size: 13px;
		line-height: 1.5;
		background-color: var(--footer-background);
	}
}


.statistics__example {
	margin: 0;

	@media (--desktop-only) {
		background-color: var(--footer-background);
	}
}

.statistics__images-wrapper {
	position: relative;

	@media (--not-mobile) {
		background-color: var(--statistics-background);
	}

	@media (--desktop-only) {
		grid-row: 2 / -1;
		background-color: var(--footer-background);

		// grid-column: -1 / -2;
		// align-self: center;
	}
}

.statistics__images {
	margin: 0 auto;
	display: block;

	@media (--not-mobile) {
		margin-bottom: -50px;

		width: 560px;
		height: 512px;
		position: relative;
		top: -151px;
	}

	@media (--desktop-only) {
		margin: 0 auto -84px;
		top: -125px;
	}
}

// .statistics__range {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// }
