.statistics {
	background-color: #eaeaea;
	color: var(--main-color);
}

.statistics__wrapper {
	box-sizing: border-box;
	min-width: 320px;
	margin: 0 auto;
	padding: 66px 20px 40px;

	@media (--not-mobile) {
		padding: 66px 30px 40px;
	}

	@media (--desktop-only) {
		box-sizing: content-box;
		max-width: 1220px;
		padding: 66px 110px 40px;
		display: grid;
		grid-template-columns: 440px 560px;
		column-gap: 224px;
		grid-template-rows: repeat(3, auto);
		row-gap: 70px;
	}
}

.statistics__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	text-align: left;
	color: var(--main-color);
}

.statistics__description {
	margin: 0 0 20px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--base-color);
}

.statistics__example {
	margin: 0;
}

.statistics__images-wrapper {
	@media (--desktop-only) {
		grid-row: 1 / -1;
		grid-column: -1 / -2;
		align-self: center;
	}
}

.statistics__images {
	margin: 0 auto;
	display: block;
}
