.advantages {
	background-color: var(--main-background);
	color: var(--main-color);

	@include bg-image("advantages-index-logo");

	@media #{$mobile-only} {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 302px;
			background:
				linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
				var(--bg-image) no-repeat center / contain,
				linear-gradient(to right, #4f4e54 50%, #424147 50%);
			z-index: -1;
		}
	}

	@media #{$desktop-only} {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			max-width: 720px;
			height: 694px;
			background:
				linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
				var(--bg-image) no-repeat left / contain,
				linear-gradient(to right, #4f4e54 50%, #424147 50%);
		}
	}
}

.advantages__wrapper {
	box-sizing: border-box;
	min-width: 320px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media #{$desktop-only} {
		box-sizing: content-box;
	}
}

.advantages__present {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: -10px;
	}

	@media #{$desktop-only} {
		margin-bottom: -156px;
	}
}

.advantages__card-wrapper {
	@media #{$not-mobile} {
		padding-top: 12px;
	}

	@media #{$desktop-only} {
		padding-top: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 80px;
	}
}

.advantages__card {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media #{$not-mobile} {
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

.advantages__button {
	margin: 0 auto;

	@media #{$not-mobile} {
		width: 244px;
		position: absolute;
		left: 90px;
		top: 30.6%;
	}

	@media #{$desktop-only} {
		width: 242px;
		left: 191px;
		top: 93.8%;
	}
}
