.advantages {
	background-color: var(--main-background);
	color: var(--main-color);

	@media #{$mobile-only} {
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			// Если нужно отцентрировать кота на мобильной версии при растягивании
			// left: 0;
			// margin: 0 auto;
			width: 320px;
			height: 302px;
			background-image: url("../../img/advantages-index-logo-mobile@1x.jpg");
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;

			@media (min-resolution: 2dppx) {
				background-image: url("../../img/advantages-index-logo-mobile@2x.jpg");
				background-size: contain;
			}

			@media #{$not-mobile} {
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			width: 100%;
			height: 302px;
			background-color: rgba(104, 183, 56, 0.85);
			z-index: -1;

			// Без этого св-ва фон на хроме пропадёт только 769рх
			@media #{$not-mobile} {
				display: none;
			}
		}
	}

	@media #{$desktop-only} {
		// z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 auto;
			width: 50%;
			height: 694px;
			background-image: url("../../img/advantages-index-logo-desktop@1x.jpg");
			background-size: contain;
			background-repeat: no-repeat;

			@media (min-resolution: 2dppx) {
				background-image: url("../../img/advantages-index-logo-desktop@2x.jpg");
				background-repeat: no-repeat;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 50%;
			max-width: 720px;
			height: 694px;
			background-color: rgba(104, 183, 56, 0.85);
		}
	}
}

.advantages__wrapper {
	box-sizing: border-box;
	min-width: 320px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;


	@media #{$desktop-only} {
		box-sizing: content-box;
	}
}

.advantages__present {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: -10px;
	}

	@media #{$desktop-only} {
		margin-bottom: -156px;
	}
}

.advantages__card-wrapper {
	@media #{$not-mobile} {
		padding-top: 12px;
	}

	@media #{$desktop-only} {
		padding-top: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 80px;
	}
}

.advantages__card {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media #{$not-mobile} {
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

.advantages__button {
	margin: 0 auto;

	@media #{$not-mobile} {
		width: 244px;
		position: absolute;
		left: 90px;
		top: 30.6%;
	}

	@media #{$desktop-only} {
		width: 242px;
		left: 191px;
		top: 93.8%;
	}
}
