.advantages-card {
	background-color: var(--footer-background);
	padding: 30px 20px 0 20px;

	&::before {
		content: "";
		position: absolute;
		border-radius: 50%;
		background-color: var(--button-backgroud);

		@media #{$not-mobile} {
			top: 24.6%;
			right: 62px;
			left: auto;
			width: 200px;
			height: 200px;
		}

		@media #{$desktop-only} {
			display: none;
		}
	}


	@media #{$not-mobile} {
		padding: 77px 316px 0 52px;
		position: relative;
	}

	@media #{$desktop-only} {
		padding: 77px 52px 0 50px;
	}
}

.advantages-card--slim::after {
	display: none;
	content: "";
	position: absolute;
	background: url("../../icons/stack.svg#cat-slim") no-repeat center / cover;

	@media #{$not-mobile} {
		display: block;
		top: 21.3%;
		left: auto;
		right: 88px;
		width: 144px;
		height: 197px;
	}

	@media #{$desktop-only} {
		display: none;
	}
}

.advantages-card--pro::after {
	display: none;
	content: "";
	position: absolute;

	background: url("../../icons/stack.svg#cat-pro") no-repeat center / cover;

	@media #{$not-mobile} {
		display: block;
		top: 36%;
		left: auto;
		right: 25px;
		width: 274px;
		height: 118px;
	}

	@media #{$desktop-only} {
		display: none;
	}
}

.advantages-card__title {
	margin: 0 0 29px;
	padding-left: 70px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.54;
	text-transform: uppercase;
	color: var(--main-color);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: -6px;
		left: 2px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--button-backgroud);

		@media #{$not-mobile} {
			display: none;
		}

		@media #{$desktop-only} {
			display: block;
			top: -31px;
			left: 2px;
			width: 100px;
			height: 100px;
		}
	}


	@media #{$not-mobile} {
		margin-bottom: 24px;
		padding: 0;
		font-size: 36px;
		line-height: 1;
	}

	@media #{$desktop-only} {
		margin-bottom: 73px;
		padding-left: 164px;
	}
}

.advantages-card--slim .advantages-card__title::after {
	content: "";
	position: absolute;
	top: -9px;
	left: 8px;
	width: 38px;
	height: 50px;
	background: url("../../icons/stack.svg#cat-slim") no-repeat center / cover;

	@media #{$not-mobile} {
		display: none;
	}

	@media #{$desktop-only} {
		display: block;
		top: -37px;
		left: 17px;
		right: auto;
		width: 72px;
		height: 98px;
	}
}

.advantages-card--pro .advantages-card__title::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -8px;
	width: 69px;
	height: 29px;
	background: url("../../icons/stack.svg#cat-pro") no-repeat center / cover;

	@media #{$not-mobile} {
		display: none;
	}

	@media #{$desktop-only} {
		display: block;
		top: -12px;
		left: -18px;
		right: auto;
		width: 138px;
		height: 60px;
	}
}

.advantages-card__description {
	margin: 0;
	padding: 0 0 23px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);
	position: relative;

	@media #{$not-mobile} {
		padding-bottom: 48px;
		font-size: 16px;
		line-height: 1.5;
		color: var(--main-color);
		position: static;
	}

	@media #{$desktop-only} {
		padding-bottom: 19px;
	}


	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		border-bottom: 1px solid var(--footer-border);

		@media #{$not-mobile} {
			display: none;
		}
	}
}
