.advantages-present {
	position: relative;
	z-index: 1;

	@media #{$not-mobile} {
		background-image: none;
		position: relative;
	}

	@media #{$not-mobile} {
		// padding: 0 0 0 80px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: -7%;
		right: 0;
		margin: 0 auto;
		width: 320px;
		height: 302px;
		background-image: url("../../img/advantages-index-logo-mobile@1x.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		z-index: -1;

		@media #{$not-mobile} {
			display: none;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: -7%;
		width: 114%;
		height: 302px;
		background-color: rgba(104, 183, 56, 0.85);
		z-index: -1;

		@media #{$not-mobile} {
			display: none;
		}

		// @media #{$not-mobile} {
		// 	display: inline-block;
		// }
	}
}

.advantages-present__wrapper-text {
	padding-top: 27px;

	@media #{$not-mobile} {
		width: 420px;
		padding-left: 87px;
	}

	@media #{$desktop-only} {
		padding-left: 80px;
		padding-top: 77px;
	}
}

.advantages-present__title {
	margin: 0 0 25px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	text-align: center;
	color: var(--main-background);

	@media #{$not-mobile} {
		margin-bottom: 41px;
		font-size: 60px;
		line-height: 60px;
		color: var(--main-color);
		text-align: start;
	}

	@media #{$desktop-only} {
		margin-bottom: 40px;
	}
}

.advantages-present__slogan {
	margin: 0 0 29px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--main-background);
	text-align: center;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
		color: var(--main-color);
		text-align: start;
	}
}

.advantages-present__images {
	margin: 0 auto 3px;
	display: block;

	@media #{$not-mobile} {
		margin-bottom: 0;
		width: 709px;
		height: 609px;
	}


	@media #{$desktop-only} {
		width: 552px;
		height: 499px;
		position: relative;
		right: -140px;
		top: -289px;
	}
}
