.animal-parameters {
	padding: 22px 0 24px;
	border: none;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		bottom: 0;
		left: -20px;
		background-color: var(--footer-border);
	}

	@media #{$not-mobile} {
		padding-bottom: 72px;

		&::before {
			display: none;
		}
	}
}

.animal-parameters__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 13px;

	@media #{$not-mobile} {
		row-gap: 18px;
	}
}

.animal-parameters__label {
	display: flex;
}

.animal-parameters__text {
	margin-right: 15px;
	white-space: nowrap;
	align-self: center;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.13;
	text-transform: uppercase;
	color: var(--base-color);

	@media #{$not-mobile} {
		margin-right: 17px;
		font-size: 20px;
		line-height: 1.5;
	}
}

.animal-parameters__input {
	box-sizing: border-box;
	width: 50px;
	flex-grow: 1;
	padding: 11px 0 11px 15px;
	appearance: textfield;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.35;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--base-color);
	border: none;
	outline: 1px solid #e7e7e7;

	&:hover {
		outline-color: var(--example-border);
	}

	&:focus {
		outline-width: 2px;
		outline-color: var(--base-color);
	}

	&:invalid {
		border-width: 2px;
		border-color: #ff8282;
	}

	@media #{$not-mobile} {
		padding-left: 17px;
		font-size: 20px;
		line-height: 1.5;
	}
}
