.button {
	display: block;
	box-sizing: border-box;
	width: 280px;
	padding: 11px 44px;
	background-color: #68b738;
	color: #ffffff;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
