.button {
	display: block;
	box-sizing: border-box;
	width: 280px;
	padding: 11px 44px;
	background-color: var(--button-backgroud);
	color: var(--main-background);
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;

	@media (--not-mobile) {
		padding: 17px 26px;
		font-size: 20px;
		line-height: 1;
	}
}

.button--advantages {
	display: inline-block;
	width: auto;
	padding: 4px 49px 4px 0;
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 1;
	color: var(--main-color);
	background-color: transparent;
	text-align: start;
	position: relative;

	@media (--not-mobile) {
		padding: 5px 57px 4px 0;
		font-size: 20px;
		line-height: 1.5;
	}

	@media (--desktop-only) {
		padding-right: 60px;
	}

	&::before {
		content: "";
		position: absolute;
		right: 8px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 23px;
		height: 9px;
		border: dashed 1px #000000;

		@media (--not-mobile) {
			right: 86px;
		}

		@media (--desktop-only) {
			left: 80%;
		}
	}

	@media (--desktop-only) {
		right: 86px;
	}
}

.button.button--advantages {
	margin: 15px 0 18px;

	@media (--not-mobile) {
		position: relative;
		left: auto;
		top: auto;
		margin: 0;
		margin-bottom: 52px;
	}

	@media (--desktop-only) {
		margin-bottom: 56px;
		width: auto;
		left: 0;
	}
}

.button--product-card {
	font-size: 16px;
	// line-height: 1.25px;

	@media (--not-mobile) {
		padding: 13px 26px 11px;
	}
}

.button--product-card-all {
	padding: 11px 0 8px;
	background-color: var(--footer-background);
	color: var(--base-color);

	@media (--not-mobile) {
		padding: 13px 0 11px;
	}
}

.button--product-card-additional {
	padding: 10px 44px;
	font-size: 16px;
	line-height: 1.25;
}
