.contacts-text {
	padding: 26px 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media (--not-mobile) {
		// max-width: 768px;
		display: flex;
		justify-content: space-between;
	}

	@media (--desktop-only) {
		box-sizing: border-box;
		width: 565px;
		padding: 56px 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 75px;
		background-color: #ffffff;
	}
}

// Серый фон мобильная версия index
.contacts-text--fill {
	background-color: #ffffff;
}

.contacts-text__title {
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #111111;
}

.contacts-text__text {
	margin: 0;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
}
