
.contacts {
	@media (--desktop-only) {
		position: relative;
	}
}

.contacts__text {
	@media (--desktop-only) {
		position: absolute;
		left: 110px;
		top: 95px;
	}
}

.contacts__map-wrapper {
	& iframe {
		border: none;
	}

	@media (--desktop-only) {
		margin: 0 auto;
	}
}

.contacts__map {
	border: none;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;

	@media (--not-mobile) {
		height: 400px;
	}

	// @media (--desktop-only) {
	// 	width: auto;
	// }
}
