.contacts-text {
	padding: 26px 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2px;

	@media #{$not-mobile} {
		padding: 60px 70px;

		display: flex;
		justify-content: space-between;
	}

	@media #{$desktop-only} {
		z-index: 1;
		box-sizing: border-box;
		width: 565px;
		padding: 60px 80px 62px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 93px;
		background-color: var(--main-background);
	}
}

// Серый фон мобильная версия index
.contacts-text--fill {
	background-color: var(--main-background);
}

.contacts-text__title {
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	text-transform: uppercase;
	color: var(--contacts-color);

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 1.3;
	}
}

.contacts-text__text {
	margin: 0;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	color: var(--base-color);

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 1.25;
		text-align: right;

		& span {
			display: inline-block;
			padding-top: 16px;
		}
	}

	@media #{$desktop-only} {
		text-align: left;
	}
}
