.contacts-text {
	padding: 26px 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

// Серый фон мобильная версия index
.contacts-text--fill {
	background-color: #ffffff;
}

.contacts-text__title {
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #111111;
}

.contacts-text__text {
	margin: 0;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
}
