.copyright {
	padding: 25px 0 22px;

	@media #{$not-mobile} {
		padding: 0;
	}

	// @media #{$desktop-only} {
	// 	padding: 19px 0 27px;
	// }
}

.copyright__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

.copyright__text {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.13;
	color: var(--base-color);


	@media #{$not-mobile} {
		margin-right: 22px;
	}
}

.copyright__link:focus .copyright__text {
	color: rgba($color: #444444, $alpha: 0.3);
}


.copyright__image {
	right: 0;
	width: 27px;
	height: 34px;
	mask: url("../../icons/stack.svg#copyright") no-repeat center / contain;
	background-color: #666666;

	@media #{$not-mobile} {
		width: 27px;
		height: 34px;
	}
}

.copyright__link:hover .copyright__image {
	background-color: var(--button-backgroud);
}

.copyright__link:focus .copyright__image {
	opacity: 0.3;
	background-color: var(--button-backgroud);
}
