.description-product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: var(--basecolor);

	@media #{$not-mobile} {
		row-gap: 16px;
		font-size: 16px;
		line-height: 1;
	}
}

.description-product--additional {
	@media #{$not-mobile} {
		grid-template-columns: repeat(2, auto) 93px;
		padding-top: 3px;
	}

	@media #{$desktop-only} {
		padding-top: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.description-product__description {
	justify-self: start;

	@media #{$not-mobile} {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 250px;
			height: 1px;
			left: 0;
			bottom: -7px;
			background-color: var(--example-border);
		}
	}

	@media #{$desktop-only} {
		&::before {
			width: 169px;
		}
	}
}

.description-product__quantity {
	margin: 0;
	justify-self: end;
	font-size: 12px;
	line-height: 1.33;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 1;
	}
}

.description-product__quantity--additional {
	justify-self: start;
	font-size: 14px;
	line-height: 1;

	@media #{$not-mobile} {
		grid-column: 2 / 3;
		justify-self: end;
		font-size: 16px;
		line-height: 1.25;
	}
}

.description-product__quantity--additional-end {
	justify-self: end;
	font-size: 14px;
	line-height: 1;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 1.25;
	}
}
