.effect {
	padding: 24px 0 17px;
	border: none;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		bottom: 0;
		left: -20px;
		background-color: var(--footer-border);
	}

	@media #{$not-mobile} {
		padding: 24px 0;
		border: 1px solid #e7e7e7;

		&::before {
			display: none;
		}
	}
}

.effect__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 13px;
}


.effect__label {
	display: grid;
	grid-template-columns: 30px auto;
	column-gap: 15px;
	align-items: center;

	@media #{$not-mobile} {
		grid-template-columns: 68px auto;
		column-gap: 20px;
	}
}

.effect__input {
	margin: 0;
	appearance: none;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid var(--example-border);
	position: relative;

	&:hover {
		border-color: #bababa;
	}

	&:disabled {
		border-color: rgba($color: #bababa, $alpha: 0.3);
	}

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
		justify-self: end;
	}


	&:checked::before {
		content: "";
		position: absolute;
		left: 7px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 13.5px;
		height: 13.5px;
		border-radius: 50%;
		background-color: var(--button-backgroud);

		@media #{$not-mobile} {
			left: 0;
			right: 0;
			margin: auto;
			width: 18px;
			height: 18px;
		}
	}


	&:checked:disabled::before {
		background-color: rgba($color:  #68b738, $alpha: 0.3);
	}
}


.effect__text {
	vertical-align: middle;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12px;
	text-transform: uppercase;
	color: #222222;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 1.5;
	}
}

.effect__input:disabled ~ .effect__text {
	color: rgba($color: #222222, $alpha: 0.3);
}
