.effect {
	padding: 26px 0 17px;
	border: none;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		bottom: 0;
		left: -20px;
		background-color: var(--footer-border);
	}

	@media #{$not-mobile} {
		padding: 29px 0 19px;
		border: 1px solid #e7e7e7;

		&::before {
			display: none;
		}
	}
}

.effect__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 13px;
}

// .effect__item {
// 	min-height: 30px;
// }

.effect__label {
	display: block;
	min-height: 30px;
	padding-left: 45px;
	position: relative;

	@media #{$not-mobile} {
		min-height: 40px;
		padding-left: 88px;
	}
}


.effect__control-mark {
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid var(--example-border);

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
		left: 29px;
		top: -5px;
	}
}

.effect__input:hover + .effect__control-mark {
	border-color: #bababa;
}


.effect__input:disabled + .effect__control-mark {
	border-color: rgba($color: #bababa, $alpha: 0.3);
}


.effect__input:checked + .effect__control-mark::before {
	content: "";
	position: absolute;
	left: 7px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 13.5px;
	height: 13.5px;
	border-radius: 50%;
	background-color: var(--button-backgroud);

	@media #{$not-mobile} {
		width: 18px;
		height: 18px;
		left: 10px;
		top: -2px;
	}
}

.effect__input:checked:disabled + .effect__control-mark::before {
	background-color: rgba($color: #68b738, $alpha: 0.3);
}


.effect__text {
	vertical-align: middle;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12px;
	text-transform: uppercase;
	color: #222222;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 1.5;
	}
}

.effect__input:disabled ~ .effect__text {
	color: rgba($color: #222222, $alpha: 0.3);
}
