.example {
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 32px;

	@media #{$not-mobile} {
		display: flex;
		flex-wrap: wrap;
		column-gap: 42px;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 52px;
		grid-template-columns: 162px 162px auto;
	}
}

.example__wrap {
	box-sizing: border-box;
	width: 124px;
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	padding: 13px 20px 14px;
	position: relative;
	border: 1px solid var(--example-border);
	border-radius: 3px;

	@media #{$not-mobile} {
		margin: 0;
		width: 162px;
		padding: 15px 0 0;
	}
}

.example__wrap--result {
	margin: 0;
	width: auto;
	grid-column: 1 / -1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	border: none;
	text-align: center;

	@media #{$not-mobile} {
		margin-left: auto;
		width: auto;
		padding-top: 10px;
		text-align: right;
		display: grid;
		grid-template-columns: 180px;
	}

	@media #{$desktop-only} {
		margin: 0;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		text-align: left;
	}
}

.example__description {
	width: 82px;
	position: relative;
	top: 15%;
	z-index: 2;
	background-color: var(--statistics-background);
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	color: var(--base-color);
	order: 2;

	@media #{$not-mobile} {
		width: max-content;
		max-width: 144px;
		top: 20%;
		padding: 0 8px;
		background-color: var(--main-background);
		font-size: 14px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	@media #{$desktop-only} {
		background-color: var(--footer-background);
	}

	& br {
		@media #{$not-mobile} {
			display: none;
		}
	}
}


.example__quantity {
	margin: 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: var(--main-color);
	order: 1;

	@media #{$not-mobile} {
		font-size: 30px;
		line-height: 1.23;
	}
}

.example__description--view {
	margin-right: 2px;
	position: static;
	width: auto;
	display: inline;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	text-align: center;
	text-transform: uppercase;
	color: var(--main-color);
	order: 1;


	@media #{$not-mobile} {
		margin: 0;
		max-width: none;
		padding: 0;
		text-align: right;
		font-size: 20px;
		line-height: 1;
	}

	@media #{$desktop-only} {
		margin-right: 66px;
	}
}

.example__quantity--view {
	display: inline;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	text-align: center;
	text-transform: uppercase;
	color: var(--main-color);


	@media #{$not-mobile} {
		text-align: right;
		font-size: 20px;
		line-height: 1;
	}
}
