.home-page {
	padding: 39px 0 32px;
}

.home-page__logo-text {
	display: block;
	margin: 0 auto;
	width: 128px;
	height: 24px;
	object-fit: fill;
}

.home-page__link:hover .home-page__logo-text {
	opacity: 0.8;
}

.home-page__link:active .home-page__logo-text {
	opacity: 0.6;
}
