.main-header {
	@media #{$desktop-only} {
		z-index: 1;
	}
}

.main-header__wrapper {
	min-height: 65px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

	@media #{$not-mobile} {
		position: static;
		align-items: center;
		padding: 23px 0 26px;
	}

	@media #{$desktop-only} {
		box-sizing: content-box;
		padding: 53px 0 19px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: 1;
	}
}

.main-header__logo {
	display: flex;
	align-items: center;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}


	@media #{$not-mobile} {
		width: 174px;
		height: 52px;
	}

	@media #{$desktop-only} {
		width: 202px;
		height: 59px;
	}
}

.main-header__logo-image {
	display: block;
	width: 34px;
	height: 39px;
	margin-right: 57px;
	object-fit: fill;

	// & .logo-mobile svg[id="logo-text"] {
	// 	display: none;
	// }

	// & .logo-mobile svg[id="tablet"] {
	// 	display: none;
	// }

	// & .logo-mobile svg[id="desctop"] {
	// 	display: none;
	// }


	@media #{$not-mobile} {
		margin-right: 12px;
		width: 174px;
		height: 52px;


		// & .logo-mobile svg[id="mobile"] {
		// 	display: none;
		// }

		// & .logo-tablet {
		// 	display: block;
		// }
	}

	@media #{$not-mobile} {
		width: 202px;
		height: 59px;
	}
}

.main-header__logo-text {
	display: block;
	width: 101px;
	height: 18px;
	object-fit: fill;

	@media #{$not-mobile} {
		display: none;
	}
}
