.main-footer {
	background-color: var(--footer-background);
}

// .main-footer__wrapper {
// 	// box-sizing: border-box;
// 	// min-width: 320px;
// 	// margin: 0 auto;

// 	@media #{$not-mobile} {
// 		// min-width: 768px;
// 	}
// }

.main-footer__contacts {
	margin: 0 auto;
}

.main-footer__social-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: var(--footer-background);

	@media #{$not-mobile} {
		padding: 25px 0 28px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	@media #{$desktop-only} {
		padding: 26px 0 19px;
	}
}


.main-footer__social {
	border-bottom: 1px solid var(--footer-border);

	&:last-of-type {
		border-bottom: none;
	}

	@media #{$not-mobile} {
		// временно
		height: 34px;
		// временно

		border-bottom: none;
		padding: 0;
	}

	@media #{$desktop-only} {
		padding-left: 28px;
	}
}

.main-footer__social--home-page {
	@media #{$not-mobile} {
		padding: 0;
	}
}
