.main-nav {
	justify-self: end;
}

.main-nav__toggle {
	width: 24px;
	height: 16px;
	padding: 0;
	border: none;
	background-color: inherit;
	cursor: pointer;

	// 	&:hover,
	//   &:active {
	//     background-color: #624530;
	//   }

	@media (--not-mobile) {
		display: none;
	}
}

.main-nav__wrapper--modal {
	display: none;

	@media (--not-mobile) {
		display: block;
	}
}

.main-nav__list {
	margin: 0;
	position: absolute;
	top: 100%;
	left: 0;

	@media (--not-mobile) {
		position: static;
		display: flex;
	}
}
