.main-header {
	background-color: var(--main-background);
}

.main-header__wrapper {
	min-height: 65px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

	@media (--not-mobile) {
		position: static;
		align-items: center;
		padding: 23px 0 26px;
	}

	@media (--desktop-only) {
		box-sizing: content-box;
		padding: 53px 0 29px 18px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		// align-items: baseline;
	}
}

.main-header__logo {
	display: flex;
	align-items: center;

	// Временное решение
	@media (--not-mobile) {
		width: 174px;
		height: 52px;
		border: dashed 1px #000000;
	}

	@media (--desktop-only) {
		width: 202px;
		height: 59px;
	}

	// Временное решение
}

// Временное решение
.main-header__logo img {
	@media (--not-mobile) {
		display: none;
	}
}

.main-header__logo-image {
	display: block;
	width: 34px;
	height: 38px;
	margin-right: 57px;

	@media (--not-mobile) {
		margin-right: 12px;
	}
}

.main-header__logo-text {
	display: block;
	width: 101px;
	height: 18px;
}
