.main-nav {
	height: 100%;
	justify-self: end;

	@media (--desktop-only) {
		// width: 100%;
		background-color: #68b738;
	}
}

.main-nav__toggle {
	width: 24px;
	height: 16px;
	padding: 0;
	border: none;
	background-color: inherit;
	cursor: pointer;

	// &:hover,
	// &:active {
	// 	background-color: #624530;
	// }

	@media (--not-mobile) {
		display: none;
	}
}

.main-nav--closed .main-nav__toggle::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 0;
	width: 24px;
	height: 1.5px;
	background-color: var(--main-color);
	box-shadow: 0 8px 0 0 var(--main-color), 0 16px 0 0 var(--main-color);
}

// .main-nav--closed .main-nav__toggle:active::before {
// 	background-color: fade(var(--main-color), 30%);
// 	box-shadow:
// 		0 8px 0 0 fade(var(--main-color), 30%),
// 		0 16px 0 0 fade(var(--main-color), 30%);
// }

@media (--mobile-only) {
	.main-nav--closed .site-list__item {
		display: none;
	}
}

.main-nav--opened .main-nav__toggle {
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -2px;
		right: 0;
		width: 24px;
		height: 1.5px;
		background-color: var(--main-color);
	}

	&::before {
		transform: rotate(45deg);
		box-shadow: none;
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.main-nav__wrapper--modal {
	width: 114%;
	position: absolute;
	top: 100%;
	left: -7%;
	z-index: 10;

	@media (--not-mobile) {
		width: auto;
		position: static;
	}
}

.main-nav__list {
	margin: 0;

	@media (--not-mobile) {
		position: static;
		display: flex;
	}
}
