/* sticky-footer */
.main-container {
	flex-grow: 1;
	background-color: var(--main-background);
	// Сспорное св-во, используется для формы
	overflow-x: hidden;


	@media (--desktop-only) {
		overflow-x: hidden;
	}
}

.main-container__wrap {
	position: relative;

	&::before {
		position: absolute;
		left: -20px;
		top: 0;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		background-color: var(--footer-border);
	}

	@media (--not-mobile) {
		position: static;

		&::before {
			display: none;
		}
	}
}

.main-container__wrap--form {
	padding: 28px 0 39px;

	@media (--not-mobile) {
		padding: 27px 40px 72px;
	}

	@media (--desktop-only) {
		padding: 39px 0 83px;
	}
}

.main-container__wrap--catalog {
	padding: 28px 0 35px;

	@media (--not-mobile) {
		padding: 27px 0 76px;
	}

	@media (--desktop-only) {
		padding: 42px 0 86px;
	}
}


.main-container__title {
	margin: 0 0 40px 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: var(--main-color);

	@media (--not-mobile) {
		margin-bottom: 82px;
		font-size: 60px;
		line-height: 1;
	}
}

.main-container__title--form {
	margin-bottom: 38px;

	@media (--not-mobile) {
		margin-bottom: 54px;
	}

	@media (--desktop-only) {
		margin-bottom: 57px;
	}
}

.main-container__text {
	margin: 0 0 15px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	text-transform: uppercase;
	color: var(--main-color);

	@media (--not-mobile) {
		margin-bottom: 42px;
		font-size: 20px;
		line-height: 1.5;
	}
}
