/* sticky-footer */
.main-container {
	flex-grow: 1;
	background-color: var(--main-background);
}

.main-container__wrap {
	position: relative;

	&::before {
		position: absolute;
		left: -20px;
		top: 0;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		background-color: var(--footer-border);
	}
}

.main-container__wrap--form {
	padding: 27px 0 32px;

	@media (--not-mobile) {
		padding: 27px 40px 72px;
	}

	@media (--desktop-only) {
		padding: 27px 0 72px;
	}
}

// .main-container__centerer {
// 	@media (--desktop-only) {
// 		max-width: 1220px;
// 		margin: 0 auto;
// 	}
// }

.main-container__wrap--catalog {
	padding: 28px 0 35px;

	@media (--not-mobile) {
		padding: 64px 0 76px;
	}

	@media (--desktop-only) {
		padding: 64px 0 0;
	}
}


.main-container__title {
	margin: 0 0 40px 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: var(--main-color);
}

.main-container__text {
	margin: 0 0 39px 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--main-color);
}
