.optionally {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 34px 0;
	border: none;

	@media #{$not-mobile} {
		padding: 58px 0 53px;
	}

	@media #{$desktop-only} {
		grid-column: 1 / -1;
		padding: 58px 0 63px;
	}
}

.optionally__legend {
	padding: 4px 22px 0 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.08;
	color: var(--main-color);

	@media #{$not-mobile} {
		margin-left: -40px;
		padding: 0 39px 0 38px;
		font-size: 36px;
		line-height: 1;
	}
}

.optionally__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 12px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: repeat(auto-fit, 280px);
		column-gap: 64px;
		row-gap: 34px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(auto-fit, 221px);
		column-gap: 104px;
	}
}

.optionally__label {
	display: grid;
	grid-template-columns: 30px auto;
	column-gap: 16px;
	align-items: center;

	@media #{$not-mobile} {
		grid-template-columns: 40px auto;

		// min-height: 40px;
		// padding-left: 59px;
	}
}

.optionally__input {
	margin: 0;
	appearance: none;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 1px solid var(--example-border);
	position: relative;

	&:hover {
		border-color: #bababa;
	}

	&:disabled {
		border-color: rgba($color:  #bababa, $alpha: 0.3);
	}

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}


	&:checked::before {
		content: "";
		position: absolute;
		left: 2px;
		top: 1px;
		bottom: 0;
		margin: auto 0;
		width: 24px;
		height: 19px;
		border-radius: 50%;
		mask: url("../../icons/stack.svg#checked") no-repeat center / contain;
		background-color: var(--button-backgroud);

		@media #{$not-mobile} {
			top: 0%;
			width: 33px;
			height: 26px;
		}
	}

	&:checked:disabled::before {
		background-color: rgba($color:  #68b738, $alpha: 0.3);
	}
}


.optionally__text {
	vertical-align: middle;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	text-transform: uppercase;
	color: var(--main-color);

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 1;
	}
}

.optionally__input:disabled ~ .optionally__text {
	color: rgba($color:  #000000, $alpha: 0.3);
}
