.optionally {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 37px 0 30px;
	border: none;

	@media #{$not-mobile} {
		padding: 64px 0 47px;
	}

	@media #{$desktop-only} {
		grid-column: 1 / -1;
		padding: 64px 0 55px;
	}
}

.optionally__legend {
	padding: 4px 22px 0 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.08;
	color: var(--main-color);

	@media #{$not-mobile} {
		margin-left: -40px;
		padding: 0 39px 0 38px;
		font-size: 36px;
		line-height: 1;
	}
}

.optionally__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 12px;

	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: repeat(auto-fit, 280px);
		column-gap: 64px;
		row-gap: 32px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(auto-fit, 221px);
		column-gap: 104px;
	}
}

.optionally__label {
	display: block;
	min-height: 30px;
	padding-left: 45px;
	position: relative;

	@media #{$not-mobile} {
		min-height: 40px;
		padding-left: 59px;
	}
}

.optionally__control-mark {
	position: absolute;
	left: 0;
	top: -4px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid var(--example-border);

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
		top: -7px;
	}
}

.optionally__input:hover + .optionally__control-mark {
	border-color: #bababa;
}

.optionally__input:disabled + .optionally__control-mark {
	border-color: rgba($color:  #bababa, $alpha: 0.3);
}


.optionally__input:checked + .optionally__control-mark::before {
	content: "";
	position: absolute;
	left: 7px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 13.5px;
	height: 13.5px;
	border-radius: 50%;
	background-color: var(--button-backgroud);
}

.optionally__input:disabled + .optionally__control-mark::before {
	background-color: rgba($color:  #68b738, $alpha: 0.3);
}


.optionally__text {
	vertical-align: middle;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	text-transform: uppercase;
	color: var(--main-color);

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 1;
	}
}

.optionally__input:disabled ~ .optionally__text {
	color: rgba($color:  #000000, $alpha: 0.3);
}
