.page {
	font-family: var(--main-font);
	font-size: 15px;
	line-height: 24px;
	color: var(--base-color);

	/* sticky-footer */
	height: 100%;
}

.page__centerer {
	margin: 0 20px;

	@media (--not-mobile) {
		margin: 0 30px;
	}

	@media (--desktop-only) {
		width: 1220px;
		margin: 0 auto;
	}
}

.page__body {
	background-color: #000000;
	/* sticky-footer */
	display: flex;
	flex-direction: column;
	min-height: 100%;

	margin: 0;
}
