.range {
	display: flex;
	justify-content: center;
}

.range__range-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -21%);

	@media #{$not-mobile} {
		// height: 111%;
		top: 21%;
	}

	@media #{$desktop-only} {
		top: 23%;
		left: 45%;
		transform: translate(-4%, -5%);
	}
}

.range__range-toggle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	background-color: var(--main-background);

	&:hover {
		background-color: var(--button-backgroud);
	}

	&:active {
		background-color: rgba($color: #5eaa2f, $alpha: 0.6);
	}


	&::before {
		content: "";
		position: absolute;
		width: 4px;
		height: 108px;
		right: 16px;
		top: calc(50% - 127px);
		background-color: #666666;
		border-radius: 2px;

		@media #{$not-mobile} {
			height: 238px;
			top: calc(50% - 257px);
		}
	}

	&:hover::before {
		background-color: var(--button-backgroud);
	}

	&:active::before {
		background-color: rgba($color: #5eaa2f, $alpha: 0.6);
	}


	&::after {
		content: "";
		position: absolute;
		width: 4px;
		height: 108px;
		right: 16px;
		top: calc(50% + 19px);
		background-color: #666666;
		border-radius: 2px;

		@media #{$not-mobile} {
			height: 234px;
		}
	}

	&:hover::after {
		background-color: var(--button-backgroud);
	}

	&:active::after {
		background-color: rgba($color: #5eaa2f, $alpha: 0.6);
	}
}
