.service {
	background-color: var(--main-background);
	color: var(--main-color);

	@media #{$not-mobile} {
		border-bottom: 1px solid var(--border-nav);
	}
}

.service__wrapper {
	padding: 0 0 47px;

	@media #{$not-mobile} {
		padding: 15px 0 50px;
	}

	@media #{$desktop-only} {
		padding: 42px 0 0;
	}
}

.service__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.11;
	color: var(--main-color);

	@media #{$not-mobile} {
		margin-bottom: 32px;
		font-size: 60px;
		line-height: 1;
	}

	@media #{$desktop-only} {
		margin-bottom: 30px;
	}
}

.service__list {
	margin: 0;
	padding: 0;
	list-style-type: none;


	@media #{$not-mobile} {
		display: grid;
		grid-template-columns: repeat(auto-fit, 250px);
		row-gap: 39px;
		column-gap: 134px;
		counter-reset: section;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 74px;
	}
}

.service__item {
	margin-bottom: 18px;
	min-height: 60px;
	padding: 2px 0 0 80px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);
	position: relative;

	&:last-of-type {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
		height: 60px;
	}

	@media #{$not-mobile} {
		padding: 151px 0 36px;
		font-size: 16px;
		line-height: 1.5;
		position: relative;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 40px;
			left: 0;
			width: 80px;
			height: 80px;
		}

		&::after {
			counter-increment: section;
			content: counter(section) "";
			position: absolute;
			top: 0;
			left: 117px;
			font-family: var(--accent-font);
			font-style: normal;
			font-weight: 400;
			font-size: 280px;
			line-height: 1;
			text-align: center;
			color: #f2f2f2;
			z-index: -1;
		}
	}

	@media #{$desktop-only} {
		max-width: 250px;
		padding: 155px 0 32px;
	}
}

.service__item--leaf::before {
	background: var(--button-backgroud) url("../../icons/stack.svg#leaf") no-repeat center / 30px 32px;
}

.service__item--tub::before {
	background: var(--button-backgroud) url("../../icons/stack.svg#tub") no-repeat center / 29px 31px;
}

.service__item--eat::before {
	background: var(--button-backgroud) url("../../icons/stack.svg#eat") no-repeat center / 32px 33px;
}

.service__item--alarm::before {
	background: var(--button-backgroud) url("../../icons/stack.svg#alarm") no-repeat center / 32px 33px;
}
