.site-list {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	background-color: var(--main-background);
	color: var(--main-color);
	align-items: center;

	@media (--not-mobile) {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		// justify-content: space-between;
	}


	@media (--desktop-only) {
		background-color: transparent;
	}
}

.site-list__item {
	width: 100%;
	// box-sizing: border-box;
	// padding: 2px 4px 3px;
	border-top: 1px solid var(--border-nav);
	// border-bottom: 1px solid #e6e6e6;

	&:last-of-type {
		border-bottom: 1px solid var(--border-nav);
	}

	@media (--not-mobile) {
		width: auto;
		border: none;
		margin-right: 35px;

		&:last-of-type {
			margin-right: 0;
			border-bottom: none;
		}
	}
}

.site-list__link {
	display: block;
	padding: 22px 0 23px;
	text-decoration: none;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--main-color);
	text-align: center;
	cursor: pointer;

	&:hover {
		color: rgba($color: #000000, $alpha: 0.6);
	}

	&:active {
		color: rgba($color: #000000, $alpha: 0.3);
	}


	@media (--not-mobile) {
		position: relative;
		padding: 10px 0;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.33;
		white-space: nowrap;

		&[aria-current="page"]::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 1px;
			width: 100%;
			height: 2px;
			background-color: var(--button-backgroud);
		}

		&:hover::before {
			background-color: rgba($color: #68b738, $alpha: 0.6);
		}

		&:active::before {
			background-color: rgba($color: #68b738, $alpha: 0.3);
		}
	}


	@media (--desktop-only) {
		padding-top: 15px;
		font-size: 20px;
		line-height: 1.5;
		color: var(--main-color);

		// &[aria-current="page"]::before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: 1px;
		// 	width: 100%;
		// 	height: 2px;
		// 	background-color: var(--button-backgroud);
		// }
	}
}

.site-list__link--light {
	@media (--desktop-only) {
		color: var(--main-background);

		&:hover {
			color: rgba($color: #ffffff, $alpha: 0.6);
		}

		&:active {
			color: rgba($color: #ffffff, $alpha: 0.3);
		}


		&[aria-current="page"]::before {
			background-color: var(--main-background);
		}

		&:hover::before {
			background-color: rgba($color: #ffffff, $alpha: 0.6);
		}

		&:active::before {
			background-color: rgba($color: #ffffff, $alpha: 0.3);
		}
	}
}
