.slider {
	width: 280px;
	height: 256px;
	display: flex;
	position: relative;

	@media #{$not-mobile} {
		width: 560px;
		height: 512px;
	}
}

.slider__images {
	height: 100%;
	object-fit: cover;
}

.slider__images--before {
	object-position: left;
}

.slider__images--after {
	object-position: right;
}

.slider__curtain {
	z-index: 1;
	display: grid;
	place-items: center;
	margin: 0 -2px;
	width: 4px;
	height: 100%;
	border-radius: 2px;
	color: #666666;
	background-color: currentcolor;
	cursor: col-resize;
	transition: color 0.2s, opacity 0.2s;

	&:hover {
		color: var(--button-backgroud);
	}

	&:active {
		color: rgba($color: #5eaa2f, $alpha: 0.6);
	}
}

.slider__range-toggle {
	box-sizing: border-box;
	display: grid;
	margin: -18px;
	padding: 0;
	width: 40px;
	height: 40px;
	color: inherit;
	border: 2px solid currentcolor;
	border-radius: 20px;
	cursor: col-resize;
	position: relative;
}

.slider__triangle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 24px;
	height: 18px;
	mask: url("../../icons/stack.svg#thumb-slider") no-repeat center / contain;
	background-color: #666666;
}

.slider__curtain:hover .slider__triangle {
	background-color: var(--button-backgroud);
	transition: color 0.2s, opacity 0.2s;
}


.slider__curtain:active .slider__triangle {
	background-color: rgba($color: #5eaa2f, $alpha: 0.6);
	transition: color 0.2s, opacity 0.2s;
}
