.social {
	padding: 20px 0 18px;


	@media #{$not-mobile} {
		padding: 0;
	}
}

.social__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social__link {
	cursor: pointer;
	padding: 2px 14px;
	background: no-repeat center / contain;
}

.social__link--vkontakte {
	mask: url("../../icons/stack.svg#vk") no-repeat center / contain;
	background-color: #666666;

	&:hover {
		background-color: var(--button-backgroud);
	}

	&:active {
		background-color: rgba($color: #68b738, $alpha: 0.3);
	}
}

.social__link--youtube {
	mask: url("../../icons/stack.svg#yt") no-repeat center / contain;
	background-color: #666666;

	&:hover {
		background-color: var(--button-backgroud);
	}

	&:active {
		background-color: rgba($color: #68b738, $alpha: 0.3);
	}
}

.social__link--telegram {
	mask: url("../../icons/stack.svg#tg") no-repeat center / contain;
	background-color: #666666;

	&:hover {
		background-color: var(--button-backgroud);
	}

	&:active {
		background-color: rgba($color: #68b738, $alpha: 0.3);
	}
}
