.social {
	padding-bottom: 18px;
}

.social__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social__item {
	// временная обводка
	width: 28px;
	height: 22px;
	outline: 1px dashed #000000;
	outline-offset: -1px;
}

.social__link {
	cursor: pointer;
}
