.statistics {
	padding-bottom: 40px;
	background-color: var(--statistics-background);
	color: var(--main-color);

	@media #{$not-mobile} {
		padding-bottom: 102px;
		background-color: var(--main-background);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 1000%;
			height: 462px;
			left: -100vh;
			bottom: 0;
			background-color: var(--statistics-background);

			@media #{$desktop-only} {
				height: 460px;
				background-color: var(--footer-background);
			}
		}
	}

	@media #{$desktop-only} {
		max-width: 1220px;
		margin: 0 auto;
		padding-bottom: 74px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 203px auto;
		column-gap: 110px;
	}
}

.statistics__wrapper {
	padding: 25px 0 20px;

	@media #{$not-mobile} {
		padding: 43px 0 103px;
	}

	@media #{$desktop-only} {
		z-index: 1;
		width: auto;
		margin: 0;
		grid-row: 1 / -1;
		padding: 0;
	}
}

.statistics__title {
	margin: 0 0 40px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.11;
	text-align: left;
	color: var(--main-color);

	@media #{$not-mobile} {
		margin: 0 0 64px;
		font-size: 60px;
		line-height: 1;
	}

	@media #{$desktop-only} {
		margin-bottom: 70px;
		padding: 72px 0 77px;
		font-size: 60px;
		line-height: 1;
		background-color: var(--main-background);
	}
}

.statistics__description {
	margin: 0 0 20px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	color: var(--base-color);

	@media #{$not-mobile} {
		margin: 0 0 54px;
		font-size: 16px;
		line-height: 1.5;

		& span {
			white-space: nowrap;
		}
	}

	@media #{$desktop-only} {
		margin: 0;
		max-width: 437px;
		padding: 0 0 70px;
		line-height: 1.5;

		& span {
			white-space: normal;
		}
	}
}


.statistics__example {
	margin: 0;

	// @media #{$desktop-only} {
	// 	background-color: var(--footer-background);
	// }
}

.statistics__images-wrapper {
	// position: relative;
	margin: 0 auto;

	// @media #{$not-mobile} {
	// 	background-color: var(--statistics-background);
	// }

	@media #{$desktop-only} {
		grid-row: 1 / -1;
		top: 12%;
		// left: -30px;
		// background-color: var(--footer-background);
	}
}

// .statistics__images {
// margin: 0 auto;
// display: block;

// @media #{$not-mobile} {
// 	margin-bottom: -50px;

// 	width: 560px;
// 	height: 512px;
// 	position: relative;
// 	top: -151px;
// }

// @media #{$desktop-only} {
// 	margin: 0 auto -84px;
// 	top: -125px;
// }
// }

// .statistics__range {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// }
