.stock {
	@include bg-image("catalog-stock");

	width: 100%;
	min-height: 290px;
	background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), var(--bg-image) no-repeat center/contain;

	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 78px;
		height: 80px;
		top: 58px;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: url("../../icons/stack.svg#gift") no-repeat center / contain;

		@media #{$not-mobile} {
			margin: 0;
			left: 11%;
		}
	}


	@media #{$not-mobile} {
		min-height: 200px;

		&::before {
			width: 80px;
			height: 83px;
			top: 54px;
			left: 77px;
		}
	}

	@media #{$desktop-only} {
		&::before {
			left: 82px;
		}
	}
}

.stock__advantages {
	margin: 0 auto;
	padding: 187px 0 0;
	max-width: 60%;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;

	@media #{$not-mobile} {
		width: 165px;
		padding: 70px 0 70px 43%;
		text-align: start;
	}

	@media #{$desktop-only} {
		margin: 0 auto;
		max-width: 170px;
		padding: 187px 0 0;
		text-align: center;
	}
}
