.additional-product {
	padding-top: 25px;

	@media (--not-mobile) {
		padding-top: 68px;
	}

	@media (--desktop-only) {
		padding-top: 76px;
		display: grid;
		grid-template-columns: 1fr 245px;
		grid-template-rows: repeat(2, auto);
		column-gap: 80px;
		row-gap: 43px;
	}
}

.additional-product__wrap-title {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 26%;
		right: -20px;
		width: 100%;
		height: 2px;
		background-color: var(--button-backgroud);
		z-index: -1;
	}

	@media (--not-mobile) {
		margin-bottom: 45px;

		&::before {
			top: 30%;
			right: -30px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 30%;
			left: -30px;
			width: 100%;
			height: 2px;
			background-color: var(--button-backgroud);
			z-index: -1;
		}

		@media (--desktop-only) {
			margin-bottom: 0;

			&::before {
				width: 1000%;
				right: -110px;
			}

			&::after {
				width: 1000%;
				left: -110px;
			}
		}
	}

	@media (--desktop-only) {
		grid-column: 1 /-1;
		grid-row: 1 / 2;
	}
}

.additional-product__title {
	display: inline-block;
	margin: 0 0 35px;
	padding-right: 22px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: var(--main-color);
	background-color: var(--main-background);

	@media (--not-mobile) {
		padding: 0 35px 0 37px;
		font-size: 36px;
		line-height: 1;
		text-align: start;
	}

	@media (--desktop-only) {
		margin-left: -40px;
		padding: 0 35px 0 40px;
	}
}

.additional-product__list {
	margin: 0 0 35px;

	@media (--not-mobile) {
		margin: 0 0 69px;
	}

	@media (--desktop-only) {
		margin: 0;
	}
}

.additional-product__stock {
	@media (--desktop-only) {
		// padding-top: 1px;
	}
}
