.main-container-catalog {
	box-sizing: border-box;
	width: 320px;
	margin: 0 auto;
	padding: 27px 20px 35px;
	border-top: 1px solid #d9d9d9;
}

.main-container-catalog__title {
	margin: 0 0 41px 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}
