.product-card-additional {
	padding: 0;
	list-style-type: none;

	border-top: 1px solid #cdcdcd;
}


.product-card-additional__item {
	padding: 13px 0 19px;
	border-bottom: 1px solid #cdcdcd;

	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 14px;
}

.product-card-additional__link {
	grid-column: 1 / 2;
	text-decoration: none;
}

.product-card-additional__title {
	margin: 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: start;
	text-transform: uppercase;
	color: #222222;
}

.product-card-additional__description {
	margin: 0;
	grid-column: 1 / -1;
}

.product-card-additional__button {
	grid-column: 1 / -1;
}
