.animal-parameters {
	padding: 22px 0;
	border: none;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		bottom: 0;
		left: -20px;
		background-color: var(--footer-border);
	}
}

.animal-parameters__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 11px;
}

.animal-parameters__label {
	display: flex;
}

.animal-parameters__text {
	margin-right: 15px;
	align-self: center;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #444444;
}

.animal-parameters__input {
	flex-grow: 1;
	padding: 14px;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #444444;
	border: 1px solid #e7e7e7;
}
