.animal-parameters {
	padding: 22px 0 24px;
	border: none;

	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: calc(100% + 40px);
		height: 1px;
		bottom: 0;
		left: -20px;
		background-color: var(--footer-border);
	}
}

.animal-parameters__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 13px;
}

.animal-parameters__label {
	display: flex;
}

.animal-parameters__text {
	margin-right: 15px;
	white-space: nowrap;
	align-self: center;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.13;
	text-transform: uppercase;
	color: var(--base-color);
}

.animal-parameters__input {
	width: 50px;
	flex-grow: 1;
	padding: 11px 0 11px 15px;
	appearance: textfield;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.35;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--base-color);
	border: 1px solid #e7e7e7;
}
