.comment-buyer {
	padding: 10px 0;

	@media (--desktop-only) {
		grid-column: 1 / -1;
	}
}

.comment-buyer__label {
	padding-right: 22px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: var(--main-color);
}

.comment-buyer__textarea-wrapper {
	padding-top: 31px;
}

.comment-buyer__textarea {
	box-sizing: border-box;
	height: 9.5em;
	width: 100%;
	padding: 10px 12px 10px 15px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--base-color);
	border: 1px solid #e7e7e7;
}
