.contacts-buyer {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 33px 0 11px;
	border: none;

	@media (--not-mobile) {
		padding: 75px 0 52px;
	}

	@media (--desktop-only) {
		grid-column: 1 / -1;
		padding: 70px 0 67px;
	}
}

.contacts-buyer__legend {
	padding: 26px 22px 0 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: var(--main-color);
	background-color: var(--main-background);

	@media (--not-mobile) {
		margin-left: -40px;
		padding: 0 39px 0 38px;
		font-size: 36px;
		line-height: 1;

		& br {
			display: none;
		}
	}
}

.contacts-buyer__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 14px;

	@media (--not-mobile) {
		row-gap: 18px;
	}

	@media (--desktop-only) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 78px;
	}
}

.contacts-buyer__label {
	display: flex;
}

.contacts-buyer__text {
	margin-right: 10px;
	white-space: nowrap;
	align-self: center;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	text-transform: uppercase;
	color: var(--base-color);

	@media (--not-mobile) {
		margin-right: 17px;
		font-size: 20px;
		line-height: 1.5;
	}
}

.contacts-buyer__wrap-input {
	display: flex;
	flex-grow: 1;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border: 1px solid #000000;
	}
}

.contacts-buyer__input {
	width: 159px;
	flex-grow: 1;
	padding: 13px 45px 11px 14px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.35;
	text-transform: uppercase;
	color: var(--base-color);
	border: 1px solid #e7e7e7;

	@media (--not-mobile) {
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 1.5;
	}
}

.contacts-buyer__input[type="email"] {
	@media (--not-mobile) {
		width: 228px;
		padding-left: 23px;
	}
}


.contacts-buyer__input[type="tel"] {
	width: 142px;

	@media (--not-mobile) {
		width: 221px;
	}
}
