.contacts-buyer {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 35px 0 12px;
	border: none;

	@media (--desktop-only) {
		grid-column: 1 / -1;
	}
}

.contacts-buyer__legend {
	padding: 26px 22px 0 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: var(--main-color);
}

.contacts-buyer__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 14px;

	@media (--desktop-only) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 78px;
	}
}

.contacts-buyer__label {
	display: flex;
}

.contacts-buyer__text {
	margin-right: 10px;
	align-self: center;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--base-color);
}

.contacts-buyer__input {
	flex-grow: 1;
	padding: 14px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--base-color);
}
