.contacts-buyer {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 35px 0 12px;
	border: none;
}

.contacts-buyer__legend {
	padding: 26px 22px 0 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: #000000;
}

.contacts-buyer__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 14px;
}

.contacts-buyer__label {
	display: flex;
}

.contacts-buyer__text {
	margin-right: 10px;
	align-self: center;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #444444;
}

.contacts-buyer__input {
	flex-grow: 1;
	padding: 14px;
	font-family: "Oswald", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #444444;
}
