.form {
	@media (--desktop-only) {
		display: grid;
		grid-template-columns: 46.5% 1fr;
		column-gap: 82px;
	}
}

.form__parameters {
	margin: 0;
}

.form__parameters--effect {
	@media (--not-mobile) {
		margin-bottom: 75px;
	}

	@media (--desktop-only) {
		margin: 24px 0 20px;
	}
}

.form__wrap-sending-data {
	@media (--not-mobile) {
		max-width: 1220px;
		display: grid;
		grid-template-columns: 44.8% 1fr;
		column-gap: 61px;
	}

	@media (--desktop-only) {
		grid-column: 1 / -1;
		grid-template-columns: 46.5% 1fr;
	}
}

.form__button {
	margin: 0 auto 29px;

	@media (--not-mobile) {
		margin: 0;
	}
}


.form__text-footnote {
	margin: 0;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14px;
	text-align: center;
	color: var(--main-color);


	@media (--not-mobile) {
		align-self: center;
		justify-self: start;
		font-size: 16px;
		line-height: 1;
	}
}
