.optionally {
	/*верхний padding: расстояние от нижней границы легенды до полей ввода*/
	padding: 34px 0;
	border: none;

	@media (--desktop-only) {
		grid-column: 1 / -1;
	}
}

.optionally__legend {
	padding: 10px 22px 0 0;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	color: var(--main-color);
}

.optionally__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 15px;

	@media (--not-mobile) {
		display: grid;
		grid-template-columns: repeat(auto-fit, 280px);
		column-gap: 60px;
		row-gap: 32px;
	}

	@media (--desktop-only) {
		grid-template-columns: repeat(auto-fit, 221px);
		column-gap: 104px;
	}
}

.optionally__text {
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--main-color);
}
