<footer class="main-footer">
	<div class="main-footer__wrapper">
		<div class="main-footer__contacts contacts">
			<h2 class="visually-hidden">Адрес</h2>
			{# Нужно в мобильной версии index белый фон contacts-text--fill #}
			<div class="contacts__text contacts-text {% if permalink == "index.html"%}contacts-text--fill{% endif %}">
				<b class="contacts-text__title">приглашаем <br>к сотрудничеству<br> дилеров!</b>
				<p class="contacts-text__text">ул. Большая<br> Конюшенная, д. 19/8<br> <span>Санкт-Петербург<span></p>
			</div>
			<div class="contacts__map-wrapper">


				<noscript>
					{% include "picture.twig" with {name: "location", class: "contacts__map-image", "alt": "Магазин по адресу: улица Большая Конюшенная дом 19/8 офис 101, город Санкт-Петербург."} %}
				</noscript>

				<iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A54016f96c2f8c78ee8d9ede60adda58d0693fac730210e497672de76dfa71c5c&amp;source=constructor" width="320" height="362"></iframe>
			</div>
		</div>
		<div class="main-footer__social-wrap page__centerer">
			<div class="main-footer__social main-footer__social--home-page home-page">
				<h2 class="visually-hidden">Главная страница</h2>
				<a class="home-page__link" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
					<img class="home-page__logo-text" src="img/logo.svg#footer" width="128" height="24" alt="Магазин CAT ENERGY.">
					<span class="visually-hidden">Магазин CAT ENERGY.</span>
				</a>
			</div>
			<div class="main-footer__social social">
				<h2 class="visually-hidden">Социальные сети</h2>
				<ul class="social__list">
					<li class="social__item">
						<a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy"><span class="visually-hidden">Мы в Вконтакте.</span></a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru"><span class="visually-hidden">Мы в Ютубе.</span></a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--telegram" href="https://t.me/htmlacademy"><span class="visually-hidden">Мы в Телеграме.</span></a>
					</li>
				</ul>
			</div>
			<div class="main-footer__social copyright">
				<h2 class="visually-hidden">Партнёры</h2>
				<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
					<span class="copyright__text">HTML Academy</span>
					<div class="copyright__image"></div>
				</a>
			</div>
		</div>
	</div>
</footer>
