<header class="main-header">
	<div class="main-header__wrapper page__centerer">
		<a class="main-header__logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
			<img class="main-header__logo-image" src="img/logo-mobile.svg" width="34" height="38" alt="Магазин CAT ENERGY.">

			<img class="main-header__logo-text" src="img/logo-mobile-text.svg" width="101" height="18" alt="Магазин CAT ENERGY.">
			<span class="visually-hidden">Магазин CAT ENERGY</span>
		</a>
		{# <nav class="main-header__nav main-nav main-nav--opened main-nav--nojs"> #}
		<nav class="main-header__nav main-nav main-nav--closed main-nav--nojs">
			<button class="main-nav__toggle" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="main-nav__wrapper main-nav__wrapper--modal">
				<ul class="main-nav__list site-list">
					{% for page in pages %}
					<li class="site-list__item">
						<a class="site-list__link {% if permalink == "index.html" %}site-list__link--light{% endif %}" href="{{ page.path }}" {% if permalink == page.path %} aria-current="page" {% endif %}>{{ page.name }}

						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</header>
