{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{# {% block main %}
<main>
	Контент страницы каталога
</main>
{% endblock %} #}

{% block main %}
<main class="main-container">
	<div class="main-container__wrap main-container__wrap--catalog page__centerer">

		<h1 class="main-container__title">Каталог продукции</h1>

		<section class="product">
			<h2 class="visually-hidden">Основная продукция</h2>
			<ul class="product__list product-card">

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image product-card__image--small" src="img/products/product1-small-mobile@1x.jpg" width="68" height="86" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">500 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Курица</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">700 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image" src="img/products/product1-mobile@1x.jpg" width="84" height="101" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">1000 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Курица</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">1000 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image product-card__image--small" src="img/products/product2-small-mobile@1x.jpg" width="68" height="86" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">500 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Рыба</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">700 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image" src="img/products/product2-mobile@1x.jpg" width="84" height="101" alt="Баночка кошачей еды.">

					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">1000 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Рыба</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">1000 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image product-card__image--small" src="img/products/product3-small-mobile@1x.jpg" width="68" height="86" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">500 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Гречка</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">400 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image" src="img/products/product3-mobile@1x.jpg" width="84" height="101" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">1000 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Гречка</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">700 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item">
					<a class="product-card__link product-card__link-text" href="#">
						<h3 class="product-card__title">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link product-card__link-image" href="#">
						<img class="product-card__image product-card__image--small" src="img/products/product4-small-mobile@1x.jpg" width="68" height="86" alt="Баночка кошачей еды.">
					</a>
					<dl class="product-card__description description-product">
						<dt class="description-product__description">Масса</dt>
						<dd class="description-product__quantity">500 г</dd>
						<dt class="description-product__description">Вкус</dt>
						<dd class="description-product__quantity">Рис</dd>
						<dt class="description-product__description">Цена</dt>
						<dd class="description-product__quantity">500 Р.</dd>
					</dl>
					<a class="product-card__button button button--product-card" href="#">заказать</a>
				</li>

				<li class="product-card__item product-card__item--all">
					<a class="product-card__link product-card__link--all" href="#">
						<h3 class="product-card__title product-card__title--all">Показать еще 100500 товаров</h3>
					</a>
					<p class="product-card__text">На самом деле вкусов гораздо больше!</p>
					<a class="product-card__button button  button--product-card button--product-card-all" href="#">показать все</a>
				</li>

			</ul>
		</section>

		<section class="additional-product">
			<div class="additional-product__wrap-title">
				<h2 class="additional-product__title">Дополнительные товары</h2>
			</div>

			<ul class="additional-product__list product-card-additional">

				<li class="product-card-additional__item">
					<a class="product-card-additional__link" href="#">
						<h3 class="product-card-additional__title">Сахарозаменитель</h3>
					</a>
					<dl class="product-card-additional__description description-product description-product--additional">
						<dt class="visually-hidden">Объём упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional">1 упаковка (100 г)</dd>

						<dt class="visually-hidden">Цена 1 упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional-end">200 Р.</dd>
					</dl>
					<a class="product-card-additional__button button button--product-card-additional" href="#">заказать</a>
				</li>

				<li class="product-card-additional__item">
					<a class="product-card-additional__link" href="#">
						<h3 class="product-card-additional__title">питьевая вода</h3>
					</a>
					<dl class="product-card-additional__description description-product description-product--additional">
						<dt class="visually-hidden">Объём упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional">5 литров</dd>

						<dt class="visually-hidden">Цена 1 упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional-end">50 Р.</dd>
					</dl>
					<a class="product-card-additional__button button button--product-card-additional" href="#">заказать</a>
				</li>

				<li class="product-card-additional__item">
					<a class="product-card-additional__link" href="#">
						<h3 class="product-card-additional__title">молоко</h3>
					</a>
					<dl class="product-card-additional__description description-product description-product--additional">
						<dt class="visually-hidden">Объём упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional">1 литр</dd>

						<dt class="visually-hidden">Цена 1 упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional-end">100 Р.</dd>
					</dl>
					<a class="product-card-additional__button button button--product-card-additional" href="#">заказать</a>
				</li>

				<li class="product-card-additional__item">
					<a class="product-card-additional__link" href="#">
						<h3 class="product-card-additional__title">витамины</h3>
					</a>
					<dl class="product-card-additional__description description-product description-product--additional">
						<dt class="visually-hidden">Объём упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional">1 упаковка (30 г)</dd>

						<dt class="visually-hidden">Цена 1 упаковки</dt>
						<dd class="description-product__quantity description-product__quantity--additional-end">300 Р.</dd>
					</dl>
					<a class="product-card-additional__button button button--product-card-additional" href="#">заказать</a>
				</li>

			</ul>

			<div class="additional-product__stock stock">
				<h2 class="visually-hidden">Акции магазина</h2>
				<p class="stock__advantages">Закажите все <br>и получите чехол для кота в подарок!</p>
			</div>

		</section>


	</div>
</main>
{% endblock %}
