{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{# {% block main %}
<main>
	Контент страницы формы
</main>
{% endblock %} #}

{% block main %}
<main class="main-container">
	<div class="main-container-form">
		<h1 class="main-container-form__title">Подбор программы</h1>

		<p class="main-container-form__text">Заполните анкету, и мы подберем <br>программу питания для вашего кота</p>

		<form class="form" action="https://echo.htmlacademy.ru/" method="post">

			<fieldset class="form__parameters animal-parameters">
				<legend class="visually-hidden">Параметры кота </legend>
				<ul class="animal-parameters__list">
					<li class="animal-parameters__item">
						<label class="animal-parameters__label">
							<span class="animal-parameters__text">ИМЯ:*</span>
							<input class="animal-parameters__input animal-parameters__input--text" type="text" name="name" value="барсик" required>
						</label>
					</li>
					<li class="animal-parameters__item">
						<label class="animal-parameters__label">
							<span class="animal-parameters__text">Вес (кг):*</span>
							<input class="animal-parameters__input" type="number" name="weight" value="7" required>
						</label>
					</li>
					<li class="animal-parameters__item">
						<label class="animal-parameters__label">
							<span class="animal-parameters__text">Возраст (лет):</span>
							<input class="animal-parameters__input" type="number" name="year" value="7">
						</label>
					</li>

				</ul>
			</fieldset>

			<fieldset class="form__parameters effect">
				<legend class="visually-hidden">Желаемый эффект </legend>
				<ul class="effect__list">
					<li class="effect__item ">
						<label class="effect__label type-radio">
							<input class="effect__input" type="radio" name="effect" value="slim" checked>
							<span class="effect__text">похудение</span>
						</label>
					</li>
					<li class="effect__item">
						<label class="effect__label type-radio">
							<input class="effect__input" type="radio" name="effect" value="overweight">
							<span class="effect__text">Набор массы</span>
						</label>
					</li>
					<li class="effect__item">
						<label class="effect__label type-radio">
							<input class="effect__input" type="radio" name="effect" value="suspense">
							<span class="effect__text">Не знаю (Нужен ваш совет)</span>
						</label>
					</li>

				</ul>
			</fieldset>

			<fieldset class="form__parameters contacts-buyer">
				<legend class="contacts-buyer__legend visible-legend">Контактные данные <br>(владельца кота)</legend>
				<ul class="contacts-buyer__list">
					<li class="contacts-buyer__item ">
						<label class="contacts-buyer__label">
							<span class="contacts-buyer__text">E-mail:*</span>
							<input class="contacts-buyer__input" type="email" name="email" placeholder="kuklachev@gmail.com" required>
						</label>
					</li>
					<li class="contacts-buyer__item">
						<label class="contacts-buyer__label type-radio">
							<span class="contacts-buyer__text">Телефон:*</span>
							<input class="contacts-buyer__input" type="tel" name="tel" placeholder="8 (960) 900-60-90" required>
						</label>
					</li>

				</ul>
			</fieldset>

			<div class="form__parameters comment-buyer">
				<label class="comment-buyer__label visible-legend" for="form-comment">Комментарий</label>
				<div class="comment-buyer__textarea-wrapper">
					<textarea class="comment-buyer__textarea" name="comment" id="form-comment" cols="35" rows="5">Расскажите обо всех повАдках кота</textarea>
				</div>
			</div>

			<fieldset class="form__parameters optionally">
				<legend class="optionally__legend visible-legend">Дополнительно</legend>
				<ul class="optionally__list">
					<li class="optionally__item ">
						<label class="optionally__label type-checkbox">
							<input class="optionally__input" type="checkbox" name="optionally" value="sugar substitute" checked>
							<span class="optionally__text">сахарозаменитель</span>
						</label>
					</li>
					<li class="optionally__item">
						<label class="optionally__label ttype-checkbox">
							<input class="optionally__input" type="checkbox" name="optionally" value="water">
							<span class="optionally__text">питьевая вода</span>
						</label>
					</li>
					<li class="optionally__item">
						<label class="optionally__label type-checkbox">
							<input class="optionally__input" type="checkbox" name="optionally" value="milk">
							<span class="optionally__text">молоко</span>
						</label>
					</li>
					<li class="optionally__item">
						<label class="optionally__label type-checkbox">
							<input class="optionally__input" type="checkbox" name="optionally" value="vitamins">
							<span class="optionally__text">витамины</span>
						</label>
					</li>

				</ul>
			</fieldset>

			<button class="main-container-form__button button" type="submit">отправить заявку</button>

		</form>

		<p class="main-container-form__text main-container-form__text--footnote">* — Обязательные поля</p>
	</div>

</main>
{% endblock %}
